
.page-container {
  height: 400px;
  width: 300px;
  margin-left: 10px;
}

.wiget-button {
  margin-top: 200px;
  height: 50px;
  width: calc(100% - 20px);
  font-size: 22px;
  color: white;
  background-color: #dc3545;
  border-radius: 10px;
  text-align: center;
  vertical-align: middle;
  border-color: #dc3545;
}

